---
import Singleton from '../../../data/getPaths.js';
import PokemonImage from '../../../components/PokemonImage.astro';

export async function getStaticPaths() {
  const paths =  await Singleton.getInstance();
  return paths;
};

const { name, lang } = Astro.request.params;
const pokemon = Astro.props;
---
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <!-- <title>{title}</title> -->
      <link rel="icon" type="image/svg+xml" href="/favicon.svg">
      <link rel="stylesheet" type="text/css" href="/style/global.css">
      <link rel="stylesheet" type="text/css" href="/style/home.css">
  </head>
  <body>
    <h1>{name}</h1>
    <PokemonImage imageUrl={pokemon.sprites.front_default} />
  </body>
</html>