---
import Singleton from '../../../data/getPaths.js';
import PokemonCard from '../../../components/PokemonCard.astro';

export async function getStaticPaths() {
  const paths =  await Singleton.getInstance();
  return paths;
};

const { name } = Astro.request.params;
const pokemon = Astro.props;
---
<html>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width">
      <link rel="icon" type="image/svg+xml" href="/favicon.svg">
      <link rel="stylesheet" type="text/css" href="/style/home.css">
  </head>
  <body>
    <div>
      <PokemonCard imageUrl={pokemon.sprites.front_default} name={name} types={pokemon.types} baseExperience={pokemon.base_experience} />
    </div>
  </body>
</html>